body {
	font-family: 'Roboto', sans-serif;
}
header {
	padding-top: 24px;
	padding-bottom: 25px;
}

.container {
	width: 1200px;

	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	
}
.header-box{
	display: flex;
	align-items: center;
}

.header-logo {
	color: var(--logo-color);
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.38;
	letter-spacing: 0.78px;
}


.logo-span {
	color: var(--accent-color);
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	line-height: 1.38;
	letter-spacing: 0.78px;
}
.header-nav{
	margin-left: 93px ;
}

.nav-list{
	display: flex;
	gap: 50px;
}

.nav-link {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.28px;
	
}
.header-list{
	display: flex;
	gap: 50px;
	margin-left: auto;

}

.header-link {
	color: var(--additional-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.28px;
	gap: 50px;
}

.nav-link:hover,
.header-link:hover {
	color: var(--accent-color);
}


.card {
	padding-top: 94px;
	padding-bottom: 94px;
}
.card-list{
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}
.card-btn {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.03em;
	text-align: center;
	padding: 6px 22px;

}

.card-btn:hover {
	background-color: var(--accent-color);
	color: var(--main-background);
	box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}



.project-list{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.project-item{
	flex-basis: calc((100% - 60px) / 3);
	border: 1px solid #ccc;
	background: #fff;
}

.project-item:hover{
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.project-img{
width: 100%;

}

.project-box{
	padding-top: 20px;
	padding-right: 24px;
	padding-left: 24px;
	padding-bottom: 20px;

}

.project-title {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: left;
	margin-bottom: 4px;
}
.project-text {
	color: var(--additional-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0.03em;
	text-align: left;
}

/*footer*/

footer {
	background-color: var(--footer-background);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-logo {
    color: var(--main-background);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
	
   
}

.logo-span {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.address{
	margin-top: 20px;
}
.address-link {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
	border-top: 20px;
	margin-bottom: 9px;


}

.footer-item{
margin-top: 9px;
}

.footer-link {
    color: var(--footer-namber-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
	

}
    


    
