body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--logo-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo-span {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--additional-color);
}
.header-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--additional-color);
}

.header-link {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.nav-link:hover,
.header-link:hover {
  color: var(--accent-color);
}
.header-link:hover svg {
  fill: var(--accent-color);
}

.nav-link.active {
  color: var(--accent-color);
}

/*hero*/
.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
}
.hero-box {
  position: relative;
  text-align: center;
}

.hero-title {
  color: var(--main-background);
  font-size: 44px;
  width: 696px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  color: var(--main-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/*advantages*/
.advantages {
  padding-top: 94px;
}

.advantages-list {
  gap: 30px;
  display: flex;
}
.advantage-box-svg {
  background-color: var(--team-background);
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantage-svg {
  width: 70px;
  height: 70px;
  fill: var(--text-color);
  margin: 25px 100px;
}
.advantages-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/*work*/
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-item {
  flex-basis: calc((100% - 60px) / 3);
  width: 370px;
  height: 294px;
}
.work-img {
  width: 100%;
}
.work-box-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.work-description {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/*team*/
.team {
  background-color: var(--team-background);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  background-color: var(--main-background);
  flex-basis: calc((100% - 60px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team-img {
  width: 100%;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-capitan {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-desc {
  color: var(--additional-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-svg-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team-svg-link:hover .team-svg {
  fill: var(--main-background);
}
.team-svg-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-svg-link svg {
  vertical-align: middle;
}

.team-svg-link:hover {
  background-color: var(--accent-color);
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
}
.сlients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--text-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-svg {
  width: 106px;
  height: 60px;
  fill: var(--svg-color);
}
.clients-item:nth-of-type(4) .clients-svg {
  fill: var(--accent-color);
}
/*footer*/

footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list-box {
  display: flex;
  gap: 70px;
}

.footer-logo {
  color: var(--main-background);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-span {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.address {
  margin-top: 20px;
}
.address-link {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  border-top: 20px;
  margin-bottom: 9px;
}

.footer-item {
  margin-top: 9px;
}

.footer-link {
  color: var(--footer-namber-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-title {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-list-svg {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.footer-svg-link{
  background-color: var(--second-svg-color);
  border-radius: 50%;
width: 44px;
height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-svg-link:hover .footer-svg {
  fill: var(--main-background);
}
.footer-svg-link:hover {
  background-color: var(--accent-color);
}


.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}
