body {
	font-family: 'Roboto', sans-serif;
}

header {
	padding-top: 24px;
	padding-bottom: 25px;
}

.container {
	width: 1200px;
	outline: 1px solid green;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	
}
.header-box{
	display: flex;
	align-items: center;
}

.header-logo {
	color: var(--logo-color);
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.38;
	letter-spacing: 0.78px;
}


.logo-span {
	color: var(--accent-color);
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	line-height: 1.38;
	letter-spacing: 0.78px;
}

.nav-list{
	display: flex;
	gap: 50px;
	margin-left: 93px;
}

.nav-link {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.28px;
	
}
.header-list{
	display: flex;
	gap: 50px;
	margin-left: 344px;

}

.header-link {
	color: var(--additional-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.28px;
	gap: 50px;
}

.nav-link:hover,
.header-link:hover {
	color: var(--accent-color);
}

/*hero*/
.hero {
	background-color: var(--footer-background);
	padding-top: 200px;
	padding-bottom: 200px;
	
}
.hero-box{
	position: relative;
	text-align: center;
}

.hero-title {
	color: var(--main-background);
	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 2.64px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	
	
}

.hero-btn {
	color: var(--main-background);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.96px;
	background-color: var(--accent-color);
	padding: 10px 32px;
	
}

/*advantages*/
.advantages {
	padding-top: 94px;
}

.advantages-list{
	gap: 30px;
	display: flex;
}

.advantages-title {
	color: var(--text-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.advantages-text {
	color: var(--additional-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.71;
	letter-spacing: 0.42px;
}

/*work*/
.work {
	padding-top: 94px;
	padding-bottom: 94px;

	
}
.work-title {
	color: var(--text-color);
	font-size: 36px;
	font-weight: 700;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}
.work-list{
	display: flex;
	gap: 30px;
}
.work-img{
width: 370px;
height: 294px;
flex-shrink: 0;
}

/*team*/
.team {
	background-color: var(--team-background);
	padding-bottom: 94px;
	padding-top: 94px;
}
.team-title {
	color: var(--text-color);
	font-size: 36px;
	font-weight: 700;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}
.team-list{
	display: flex;
	gap: 30px;
}
.team-item{
background-color: var(--main-background);
}
.team-img{
width: 270px;
height: 260px;
flex-shrink: 0;
margin-bottom: 30px;
}
.team-capitan {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 10px;
}

.team-desc {
	color: var(--additional-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 30px;
}

/*footer*/

footer {
	background-color: var(--footer-background);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-logo {
    color: var(--main-background);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
	margin-bottom: 20px;
   
}

.logo-span {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.address-link {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 9px;
	border-top: 20px;

}



.footer-link {
    color: var(--footer-namber-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
	gap: 9px;

}
    




