@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/static/Raleway-SemiBold.ttf);
  }

body :not(.logo) {
    font-family: 'Roboto', sans-serif;
}

.logo {
color: black;
font-family: Raleway;
}

.logo span {
    color:#2196F3 
}
a {
  text-decoration: none; 
  color: inherit; 
}


footer {
  
  background: #2F303A;
}

.logo2 {
  font-family: Raleway;
  color: white;
}

.logo2 span {
  color:#2196F3
}


.address-text {
  color: white;

}

.contact-link {
  color: gray;

}