@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/static/Raleway-SemiBold.ttf);
  }

  body :not(.logo) {
    font-family: 'Roboto', sans-serif;
  }

.logo {
color: black;
font-family: Raleway;
}

.logo span {
color: blue;
}


a:hover:not(.logo,.logo2) {
color: rgb(56, 158, 226); 
}

footer {

background: #2F303A;
}

.logo2 {

color: white;
}

.logo2 span {
color: blue;
}


.address-text {
color: white;

}

.contact-link {
color: gray;

}