@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Raleway';
  src: url(fonts/Raleway/static/Raleway-SemiBold.ttf);
}

body :not(.logo):not(.logo2) {
  font-family: 'Roboto', sans-serif;
}

  
  .logo {
    color: black;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
  }
  
  .logo span {
    color:#2196F3
  }
  
  a {
    text-decoration: none; 
    color: inherit; 
  }
  a:hover:not(.logo,.logo2) {
    color: rgb(56, 158, 226); 
  }
  
  .content {
    background: #2F303A;
  }
  
  .content h1 {
    font-size: 44px;
    color: white; 

  }
  
  .content button {
    background: #2196F3;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: white; 
 
  }

  .ar1 h3{
    font-size: 14px;
  }

  .ar1 p {
    color: #757575;
  }
  

  
  .image-gallery h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .image-gallery img {
    width: 370px;
    height: 294px;
    margin: 0 10px;
  }

  .team h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .team img {
    width: 270px;
    height: 260px;
    margin: 10px; 
    
  }

  .team h3{  
font-size: 16px;
font-weight: 500;
  }

  .team p {
    color: #757575;
  }
  
  footer {
  
    background: #2F303A;
  }
  
  .logo2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: white;
  }
  
  .logo2 span {
    color:#2196F3
  }
  

.address-text {
    color: white;

}

.contact-link {
    color:#FFFFFF60;

}